<div class="box">
    <img src="https://firstfiddle.in/assets/images/brands-mob.png" class=" img-fluid w-100" style="height: 700px ;">
    <div class="img_tittle">
        <h1 style="font-family: 'prague'; font-size: 80px;">BRANDS</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row division">
        <div class="col-md-4 mt-5 div1">
            <a href="#">
                <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-04-700x466.jpg" class="w-100">
            </a>
        </div>
        <div class="col-md-4 mt-5 div1">
            <a href="#">
                <img src="https://app.firstfiddle.in/images/logo_image/Untitled-design-min.jpg"class="w-100" >
            </a>
        </div>
        <div class="col-md-4 mt-5 div1">
            <a href="#">
                <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-07-700x466.jpg" class="w-100">
            </a>
        </div>
        <div class="col-md-4 mt-5 div1">
            <a href="#">
                <img src="https://app.firstfiddle.in/images/logo_image/fly-logo-resize-02.png" class="w-100">
            </a>
        </div>
        <div class="col-md-4 mt-5 div1">
            <a href="#">
                <img src="https://app.firstfiddle.in/images/logo_image/logo-02.jpg" class="w-100">
            </a>
        </div>
        <div class="col-md-4 mt-5 div1">
            <a href="#">
                <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-03-700x466.jpg" class="w-100">
            </a>
        </div>
        <div class="col-md-4 mt-5 div1">
            <a href="#">
                <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-01-700x466.jpg" class="w-100">
            </a>
        </div>
        <div class="col-md-4 mt-5 div1">
            <a href="#">
                <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-02-1-700x466.jpg"class="w-100" >
            </a>
        </div>
        <div class="col-md-4 mt-5 div1">
            <a href="#">
                <img src="https://app.firstfiddle.in/images/logo_image/daddy-logo.jpg"class="w-100" >
            </a>
        </div>
        
    </div>
</div>