<div class="container-fluid  section0">

    <div class="container section0div ">
        <p class="section0p text-center">MEET OUR TEAM</p>
    </div>
</div>
<div class="row mt-4 maindiv">
    <div class="col-md-5  div1img">
        <img src="https://www.firstfiddle.in/assets/images/priyank-our%20team.jpg" class="w-100">
    </div>
    <div class="col-md-7 ">
        <h2>Priyank Sukhija</h2>
        <p>C.E.O. & M.D.</p>
        <br><br>
        <p class="ourteam_content">A 19-year-old dropout kid, who was just setting up his first venture, envisioned what nobody thought would
            make him a business tycoon in the hospitality industry. Once he began, there was no stopping this
            entrepreneur from reaching the heights he has reached today. It is the passion and creative streak of
            Priyank Sukhija that has made him the most watched-out restaurateur of today’s time. Coming from a family of
            lawyers, he ventured into the business world on his own with Lazeez Affaire in 1999 and has never looked
            back since.
        </p>
            <button class="btn btn_ourteam">KNOW MORE</button>
            <br><br>
            <div class="footericons">
                <a href=""><i class="fa-brands fa-linkedin fa-2x"></i></a>
                <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
                <a href=""><i class="fa-brands fa-twitter fa-2x"></i></a>
                <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>
            </div>

    </div>
    <div class="col-md-4 col-sm-6 mt-4">
        <div class="box">
            <img src="https://app.firstfiddle.in/images/ff_meet_team/YPAshok.jpg" class="w-100">
            <div class="text-center imgname">
                <h3>Y. P. Ashok</h3>
                <p>Chairman</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 mt-4" >
        <div class="box">
            <img src="https://app.firstfiddle.in/images/ff_meet_team/B.R.-Sachdeva.jpg" class="w-100">
            <div class="text-center imgname">
                <h3>B.R. Sachdeva</h3>
                <p>Director Finance & Legal</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 mt-4">
        <div class="box">
            <img src="https://app.firstfiddle.in/images/ff_meet_team/Sagar-Bajaj.jpg" class="w-100">
            <div class="text-center imgname">
                <h3>Sagar Bajaj</h3>
                <p>Corporate Chef</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 mt-4">
        <div class="box">
            <img src="https://app.firstfiddle.in/images/ff_meet_team/JAY-PHOTO-1-1.jpg" class="w-100">
            <div class="text-center imgname">
                <h3>Jay Shankar Natraj</h3>
                <p>Franchise Lead</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 mt-4">
        <div class="box">
            <img src="https://app.firstfiddle.in/images/ff_meet_team/vibhutiPR.jpg" class="w-100">
            <div class="text-center imgname">
                <h3>Vibhuti Sood</h3>
                <p>PR And Communications Head</p>
            </div>
        </div>
    </div>
</div>